@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Bootcamp Store</h1>
        <h2>Welcome to the Bootcamp Store please see a listing of products below</h2>
    </div>
</div>
<div class="container">
    <h2>Products</h2>
    <div class="row">
        <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="col-xs-12 table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <th>@Html.DisplayNameFor(model => model.Inventory)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => product.Category)</td>
                    <td>@Html.DisplayFor(modelItem => product.Inventory)</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {product.Id})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    </div>
</div>